# git
.git
.gitignore

# docker
.dockerignore
Dockerfile*
docker-compose*

# scripts
Psakefile.ps1

# directories
pwsh/
log/
output/

# environment
.env*

# pedscreen
.pedscreen/
*.sample.properties

# postgres
.postgres/

# misc
LICENSE
README.md